Clients can not join muc room.

When a client on a client connection sends a presence with an explicit to jid, and this jid was not previously allowed to receive broadcast presence, the presence is not transmitted. This filtering is done in lib/vines/stanza/presence.rb:45 in revision cb7224729f.

I have not read the corresponding parts of the RFC, but I am fairly sure this must be wrong. If a client joins a muc(multi user chat) room as in XEP-0045, the client sends a presence to the room. Such a presence to a room is ignored. Therefore a client connected to vines can not join a muc room on any server.


[Presence#outbound_broadcast_presence](https://github.com/negativecode/vines/blob/139e386834e55844dba9f3aaa1e5584d11fd4553/lib/vines/stanza/presence.rb#L43) isn't handling directed presence properly as documented in [RFC 6121 section 4.6](http://tools.ietf.org/html/rfc6121#section-4.6).

I don't think commit cb72247 is relevant, though.  That just added support for some HTTP headers.  I think we've just never handled directed presence properly.

What MUC component are you using to test this?


I only mentioned the commit to indicate which version of vines I was using.

I was not using any real MUC component. To test this, a component which prints stanzas to stdout suffices.
